{% extends 'base.html'%}
{% import 'macros.html' as macro%}


{% block content %}

<div class="col-md-6 ">
    <img class="card-img-top" src="{{article.urlToImage}}" alt="{{article.title}}">
            <div class="card text-white bg-success mb-3">
            <div class="card-header">{{article.title}}</div>
            <div class="card-body">
                <p class="card-title">{{article.description}}</p>
                <a class="btn btn-primary" href="{{article.urlToImage}}">{{article.author}}</a>
            </div>
        </div>

</div>