<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
        <!--{% if title %}-->
        <!--<title> {{ title }}</title>-->
        <!--{% else %}-->
        <!--<title> Newsance </title>-->
        <!--{% endif %}-->
<!--</head>-->
<!--<body>-->
    <!--<h1> {{macro.sources_category_list(general) </h1>-->


    <!--<h1> {{macro.sources_category_list(tech) </h1>-->

    <!--<h1> {{macro.sources_category_list(sports) </h1>-->

    <!--<h1> {{macro.sources_category_list(business) </h1>-->

    <!--<h1> {{macro.sources_category_list(enter) </h1>-->

    <!--<h1> {{macro.sources_category_list(science) </h1>-->

<!--</body>-->
<!--</html>-->