<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Newsance </title>
        {% endif %}
</head>
    <body>
        <h2> News </h2>
        <ul> {{macro.displaySources(general) </ul>


        <ul> {{macro.displaySources(tech) </ul>

        <ul> {{macro.displaySources(sports) </ul>

        <ul> {{macro.displaySources(business) </ul>

        <ul> {{macro.displaySources(enter) </ul>

        <ul> {{macro.displaySources(science) </ul>

    </body>
</html>