{% macro displaySources(sources_category_list) %}

    {% for source in sources_category_list %}

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{source.name}}</h5>
                        <p class="card-text">{{source.description}}</p>
                        <a href="{{source.url}}" class="btn btn-primary">{{source.name}}</a>
                    </div>
                </div>
            </div>

    {% endfor %}
{% endmacro %}